<app-nav></app-nav>
  <div id="search">
    <div class="uniprot">
      <h3 class="title"> Uniprot Entry</h3>
      <input placeholder="Uniprot entry code" type="text" name="unp" [(ngModel)]="uniprotId">
      <button class="button" routerLink="/reupro/{{uniprotId}}" routerLinkActive="active">   <img class="icon" src= "https://svgsilh.com/svg/35251-00709b.svg" width="15px"></button>
    </div>
    <div class="rpUniprot">
      <h3 class="title"> RepeatsDb Uniprot Entries </h3>
      <br>
      <div  class ="unpList">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" style="width: 300px;"  [(ngModel)]="searchTerm">
        </div>
        <ul>
          <div *ngFor="let unp of uniprotList | unpFilter: searchTerm; index as i" routerLink="/reupro/{{unp}}" routerLinkActive="active">
              {{ unp }}
          </div>
        </ul>
      </div>

    </div>
  </div>

<div class="msaUniprot">
  <h3 class="titleMsa"> Multiple Sequence Alignment</h3>
  <br>
  <div routerLink="/reupro/{{uniprotMSA}}" routerLinkActive="active">{{uniprotMSA}}</div>
  <br>
  <div class="loader"></div>
  <div class="loaderMsg">Retrieving data for Aligment...</div>
  <mb-sqv-lib [inp]="this.input">
  </mb-sqv-lib>
</div>
