body {
  font-family: "Helvetica neue",Helvetica,Verdana,Nimbus Sans,sans-serif;
}

#search {
  display: flex;
}

.uniprot {
  color: #6d5188;
  background-color: #dcd2e6;
  width: 50%;
  padding: 10px;
  margin: 30px;

}
.rpUniprot {
  color: #efefef;
  background-color: #9c6f75;
  width: 50%;
  padding: 10px;
  margin: 30px;
}

.unpList{
  overflow-y: auto;
  height: 200px;
}

.msaUniprot {
  background-color: #DCB8CB;
  width: 95%;
  padding: 10px;
  margin: 30px;
  overflow-y: auto;
}

.titleMsa {
  color: #6d5188;
}

.center {
  text-align: center;
}

button {
  background-color: #cfe8ef;
  border: none;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  background-color: #a5d5e3;
}
input {
  padding: 2px 5px;
}

.loader {
  margin-left: 47%;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: steelblue;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.loaderMsg {
  margin: 25px 0px;
  color: steelblue;

}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
