<!--<input type="radio" id="uniprot" name="uniprot">-->
<!--<input type="radio" id="cancel" name="uniprot">-->
<!--<input type="radio" id="open" name="toggle">-->
<!--<input type="radio" id="close" name="toggle">-->

<!--<div id="appWrap" class="transition">-->

<!--  <div id="page1" class="page transition">-->

<!--    <app-alignment (eventClicked)="childEventClicked($event)">-->
<!--    </app-alignment>-->

<!--    <span id="toggleMenu">-->

<!--      <label for="open">-->
<!--        >>-->
<!--      </label>-->

<!--      <label for="close">-->
<!--        <<-->
<!--      </label>-->

<!--    </span>-->

<!--  </div>-->

<!--  <div id="page2" class="page transition">-->

<!--    <div class="fixed_top">-->
<!--      <label for="cancel">-->
<!--        X-->
<!--      </label>-->
<!--    </div>-->

<!--    <app-repKB [event]="clickedEvent">-->
<!--    </app-repKB>-->

<!--  </div>-->

<!--</div>-->

<router-outlet></router-outlet>
