<app-nav></app-nav>

  <div class="page">

    <div id="appRp">

        <div class="absolute_wrap" id="left">

          <div class="fixed_top">

              <div class="actions">
                <select (change)="selectedFeature($event)">
                  <option [value]="feature" *ngFor="let feature of features">
                    {{feature}}
                  </option>
                </select>
                <button title="add custom" (click)="drawCustom()">
                  <img src="https://svgsilh.com/svg/1727487-00709b.svg">
                </button>
                <button title="Remove last" (click)="removeCustom('last')">
                  <img style="padding-bottom: 2px;" src="https://svgsilh.com/svg/97616-00709b.svg">
                </button>
<!--                <button title="Remove selected" (click)="removeCustom('selected')">-->
<!--                  <img src="https://svgsilh.com/svg/156119-00709b.svg">-->
<!--                </button>-->
                <button title="Remove all" (click)="removeCustom('all')">
                  <i class="fa fa-undo" aria-hidden="true"></i>
                </button>
              </div>

              <div class="forms">
                <div>
                  <label>PDB:</label>
                  <input placeholder="Start" type="text" [attr.disabled]="disStartPdb" [(ngModel)]="startUsrPdb">
                  <input placeholder="End" type="text" [attr.disabled]="disEndPdb" [(ngModel)]="endUsrPdb">
                  <i class="fa fa-exchange" aria-hidden="true"></i>
                  <label>UniProt:</label>
                  <span>[{{stUnp}}]  , [{{endUnp}}]</span>
                </div>

                <div>
                  <label>UniProt:</label>
                  <input placeholder="Start" type="text" [attr.disabled]="disStartUnp" [(ngModel)]="startUsrUnp">
                  <input placeholder="End" type="text" [attr.disabled]="disEndUnp" [(ngModel)]="endUsrUnp">
                  <i class="fa fa-exchange" aria-hidden="true"></i>
                  <label>UniProt:</label>
                  <span> [{{stPdb}}] , [{{endPdb}}]</span>
                </div>
              </div>
              <div class="alert"> {{alert}}</div>
              <div class="alert"> {{error}}</div>

          </div>

          <div class="scrollable_wrap">
            <div class="loader"></div>
            <div class="loaderMsg">Retrieving data for Feature-Viewer ... </div>
            <div id="fv">
            </div>

          </div>

        </div>

        <div class="absolute_wrap" id="right">

          <div class="fixed_top">
            <button *ngIf="fileJson" title="View json" class="button" routerLink="/download" routerLinkActive="active">
              <img class="icon" src= "https://svgsilh.com/svg/1699614-00709b.svg" width="15px">
            </button>

            <button  *ngIf="fileJson">
              <a [href]="fileJson" title="Download json" download="{{this.uniprotId}}.json">
                <i class="fa fa-download" aria-hidden="true">
                </i>
              </a>
            </button>
            <button  *ngIf="multifasta">
              <a [href]="multifasta" title="Download multifasta" download="multifasta.fa">
                <i class="fa fa-arrow-circle-down" aria-hidden="true">
                </i>
              </a>
            </button>
            <button (click)="eraseAll()">
              <i title="erase all" class="fa fa-ban" aria-hidden="true"></i>
            </button>

          </div>

          <div class="scrollable_wrap">

            <app-stv></app-stv>

            <div id="sequence_viewer">
              <mb-sqv-lib [inp]="this.input">
              </mb-sqv-lib>
              <select (change)="selectChangeHandler($event)">
                <option [value]="coloration" *ngFor="let coloration of colorations">
                  {{coloration}}
                </option>
              </select>
            </div>
          </div>
        </div>

    </div>

</div>

